<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Employee_Management_System.mapper.EmployeeMapper">

    <resultMap id="get_employees_by_manager_id" type="com.example.Employee_Management_System.domain.Employee">
        <result property="id" column="id"/>
        <result property="managerId" column="manager_id"/>
    </resultMap>
    <select id="getAllEmployeesByManagerId" resultMap="get_employees_by_manager_id">
        SELECT * FROM employees WHERE manager_id = #{managerId};
    </select>

</mapper>