<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Employee_Management_System.mapper.ProjectMapper">
    <resultMap id="project" type="com.example.Employee_Management_System.domain.Project">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="managerId" column="manager_id" />
    </resultMap>



    <select id="getAllProjectsByManagerId" resultMap="project">
        SELECT * FROM projects
        WHERE manager_id = #{managerId};
    </select>

    <select id="getProjectById" resultMap="project">
        SELECT * FROM projects WHERE id = #{id};
    </select>

<!--    <select id="findByName" resultMap="project">-->
<!--        SELECT * FROM projects WHERE name = #{name};-->
<!--    </select>-->

    <resultMap id="projectBriefInfo" type="com.example.Employee_Management_System.model.ProjectBriefInformation">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="employeeNum" column="employee_num" />
        <result property="newTaskNum" column="new_task" />
        <result property="inProgressTaskNum" column="in_progress_task" />
        <result property="readyForReviewTaskNum" column="ready_for_review_task" />
        <result property="doneTaskNum" column="done_task" />
    </resultMap>
    <select id="getAllProjectInformationByManagerId" resultMap="projectBriefInfo">
        SELECT p.id AS id,
               p.name AS name,
               (SELECT COUNT( DISTINCT employee_id) FROM tasks t WHERE t.project_id = p.id) AS employee_num,
               (SELECT COUNT(t.id) FROM tasks t WHERE t.project_id = p.id AND t.status = "NEW") AS new_task,
               (SELECT COUNT(t.id) FROM tasks t WHERE t.project_id = p.id AND t.status = "IN_PROGRESS") AS in_progress_task,
               (SELECT COUNT(t.id) FROM tasks t WHERE t.project_id = p.id AND t.status = "READY_FOR_REVIEW") AS ready_for_review_task,
               (SELECT COUNT(t.id) FROM tasks t WHERE t.project_id = p.id AND t.status = "DONE") AS done_task
        FROM projects p
        WHERE p.manager_id = #{mangerdId}


    </select>
</mapper>
