<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Employee_Management_System.mapper.ReportMapper">

    <resultMap id="reportDetailedInfo" type="com.example.Employee_Management_System.model.ReportDetailedInfo">
        <result property="id" column="report_id"/>
        <result property="title" column="report_title"/>
        <result property="content" column="content" />
        <result property="taskId" column="task_id" />
        <result property="employeeName" column="employee_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="isRead" column="is_read" javaType="boolean"/>
    </resultMap>


    <select id="getAllReports" resultMap="reportDetailedInfo">
        SELECT
        r.id AS report_id,
        r.title AS report_title,
        r.content AS content,
        r.task_id AS task_id,
        CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
        r.created_at AS created_at,
        r.is_read AS is_read
        FROM reports r
             JOIN users u ON r.created_by = u.id
             JOIN employees e ON u.id = e.id
        WHERE e.manager_id = #{managerId}
    </select>



    <select id="findById" resultMap="reportDetailedInfo">
        SELECT
            r.id AS report_id,
            r.title AS report_title,
            r.content AS content,
            r.task_id AS task_id,
            CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
            r.created_at AS created_at,
            r.is_read AS is_read
        FROM reports r
                 JOIN users u ON r.created_by = u.id
        WHERE r.id = #{id}
    </select>

    <select id="findReportsByEmployeeId" resultMap="reportDetailedInfo">
        SELECT
            r.id AS report_id,
            r.title AS report_title,
            r.content AS content,
            r.task_id AS task_id,
            CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
            r.created_at AS created_at,
            r.is_read AS is_read
        FROM reports r
                 JOIN users u ON r.created_by = u.id
        WHERE  r.created_by = #{employeeId}
    </select>

    <select id="findAllReportsByTaskId" resultMap="reportDetailedInfo">
        SELECT
            r.id AS report_id,
            r.title AS report_title,
            r.content AS content,
            r.task_id AS task_id,
            CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
            r.created_at AS created_at,
            r.is_read AS is_read
        FROM reports r
                 JOIN users u ON r.created_by = u.id
        WHERE r.task_id = #{taskId}
    </select>

    <resultMap id="manager" type="com.example.Employee_Management_System.domain.User">
        <result property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="isLocked" column="is_locked" javaType="boolean"/>
    </resultMap>

    <select id="getManagerOfEmployeeReport" resultMap="manager">
        SELECT
        u.id AS id,
        u.first_name AS first_name,
        u.last_name AS last_name,
        u.email AS email,
        u.password AS password,
        u.role AS role,
        u.is_locked AS is_locked
        FROM users u
        WHERE u.id = (
            SELECT emp.manager_id
            FROM employees emp
            WHERE emp.id = (
                 SELECT r.created_by
                 FROM reports r
                 WHERE r.id = #{reportId}
            )
        )
    </select>

    <select id="getReportsByEmployeeId" resultMap="reportDetailedInfo">
        SELECT
            r.id AS report_id,
            r.title AS report_title,
            r.content AS content,
            r.task_id AS task_id,
            CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
            r.created_at AS created_at,
            r.is_read AS is_read
        FROM reports r
                 JOIN users u ON r.created_by = u.id
        WHERE  r.created_by = #{id}
    </select>

    <select id="getReportsByTaskId" resultMap="reportDetailedInfo">
        SELECT
            r.id AS report_id,
            r.title AS report_title,
            r.content AS content,
            r.task_id AS task_id,
            CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
            r.created_at AS created_at,
            r.is_read AS is_read[]
        FROM reports r
                 JOIN users u ON r.created_by = u.id
        WHERE  r.task_id = #{taskId} AND u.task_id = #{employeeId}
    </select>
    <select id="getNameFromReportByEmployeeId" resultType="java.lang.String">
        SELECT CONCAT(u.first_name, ' ', u.last_name) AS employee_name from reports r JOIN users u on r.created_by = u.id where r.created_by = #{id};
    </select>
</mapper>
