<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Employee_Management_System.mapper.TaskMapper">

    <resultMap id="task" type="com.example.Employee_Management_System.domain.Task">
        <result property="id" column="id" />
        <result property="title" column="title" />
        <result property="description" column="description" />
        <result property="status" column="status" />
        <result property="completion" column="completion" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="employeeId" column="employee_id" />
        <result property="estimateHours" column="estimate_hours" />
        <result property="parentTask" column="parent_task" />
        <result property="priority" column="priority" />
    </resultMap>

    <select id="getTaskByIdAndEmployeeId" resultMap="task">
        SELECT * FROM tasks WHERE id = #{id} AND employee_id = #{employeeId};
    </select>

    <select id="getTasks" resultMap="task">
        SELECT * FROM tasks WHERE employee_id = #{employeeId};
    </select>

    <select id="getTaskById" resultMap="task">
        SELECT * FROM tasks WHERE id = #{id};
    </select>

    <select id="getTasksByEmployeeId" resultMap="task">
        SELECT * FROM tasks WHERE employee_id = #{employeeId};
    </select>
</mapper>
