<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Employee_Management_System.mapper.TaskMapper">

    <update id="delete">
        UPDATE tasks t1
            INNER JOIN (
            SELECT id
            FROM tasks
            WHERE id = #{id} OR parent_id = #{id}
            ) t2 ON t1.id = t2.id
        SET t1.hidden = TRUE
    </update>

    <insert id="save">

        REPLACE  INTO tasks (title, description, start_date, end_date, status, priority, completion, estimate_hours,
            employee_id, parent_id, project_id)
            VALUES (#{title}, #{description}, #{startDate}, #{endDate}, #{status}, #{priority}, #{completion},
            #{estimateHours}, #{employeeId}, #{parentId}, #{projectId})
            <selectKey keyProperty="id" resultType="long" order="AFTER">
                SELECT LAST_INSERT_ID()
            </selectKey>
    </insert>
    <resultMap id="taskDetailedInfo" type="com.example.Employee_Management_System.dto.response.TaskDetailedInfo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="completion" column="completion"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="employeeId" column="employee_id"/>
        <result property="estimateHours" column="estimate_hours"/>
        <result property="parentId" column="parent_id"/>
        <result property="priority" column="priority"/>
        <result property="managerId" column="manager_id"/>
        <result property="projectId" column="project_id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="employeeName" column="employee_name"/>
        <result property="numberReports" column="number_reports"/>
        <result property="numberSubtasks" column="number_subtasks"/>
        <result property="projectName" column="project_name"/>
    </resultMap>

    <select id="getTaskById" resultMap="taskDetailedInfo">
        select
            t.id,
            t.title,
            t.description,
            t.start_date,
            t.end_date,
            t.status,
            t.priority,
            t.completion,
            t.estimate_hours,
            t.employee_id,
            t.manager_id,
            t.parent_id,
            t.project_id,
            t.employee_id,
                             number_reports,
            count(sub.id) as number_subtasks,
            employee_name,
            project_name
        from
            (SELECT
                 t.id,
                 t.title,
                 t.description,
                 t.start_date,
                 t.end_date,
                 t.status,
                 t.priority,
                 t.completion,
                 t.estimate_hours,
                 e.manager_id,
                 t.parent_id,
                 t.project_id,
                 t.employee_id,
                 count(r.id) as number_reports,
                 CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
                 p.name as project_name
             FROM tasks t
                      LEFT JOIN users u ON u.id = t.employee_id
                      LEFT JOIN projects p ON p.id = t.project_id
                      LEFT JOIN reports r ON r.task_id = t.id
                      LEFT JOIN employees e ON e.id = t.employee_id
             WHERE t.id = #{taskId} AND t.hidden = FALSE
             GROUP BY t.id) t
                left join tasks sub on sub.parent_id = t.id
        group by t.id
    </select>

    <select id="getSubTasks" resultMap="taskDetailedInfo">
        select
            t.id,
            t.title,
            t.description,
            t.start_date,
            t.end_date,
            t.status,
            t.priority,
            t.completion,
            t.estimate_hours,
            t.employee_id,
            t.manager_id,
            t.parent_id,
            t.project_id,
            t.employee_id,
                             number_reports,
            count(sub.id) as number_subtasks,
            employee_name,
            project_name
        from
            (SELECT
                 t.id,
                 t.title,
                 t.description,
                 t.start_date,
                 t.end_date,
                 t.status,
                 t.priority,
                 t.completion,
                 t.estimate_hours,
                 e.manager_id,
                 t.parent_id,
                 t.project_id,
                 t.employee_id,
                 count(r.id) as number_reports,
                 CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
                 p.name as project_name
             FROM tasks t
                      LEFT JOIN users u ON u.id = t.employee_id
                      LEFT JOIN projects p ON p.id = t.project_id
                      LEFT JOIN reports r ON r.task_id = t.id
                      LEFT JOIN employees e ON e.id = t.employee_id
             WHERE t.parent_id = #{parentId} AND t.hidden = FALSE
             GROUP BY t.id) t
                left join tasks sub on sub.parent_id = t.id
        group by t.id
    </select>
    <select id="getTasksByEmployeeId" resultMap="taskDetailedInfo">
        select
            t.id,
            t.title,
            t.description,
            t.start_date,
            t.end_date,
            t.status,
            t.priority,
            t.completion,
            t.estimate_hours,
            t.employee_id,
            t.manager_id,
            t.parent_id,
            t.project_id,
            t.employee_id,
                             number_reports,
            count(sub.id) as number_subtasks,
            employee_name,
            project_name
        from
            (SELECT
                 t.id,
                 t.title,
                 t.description,
                 t.start_date,
                 t.end_date,
                 t.status,
                 t.priority,
                 t.completion,
                 t.estimate_hours,
                 e.manager_id,
                 t.parent_id,
                 t.project_id,
                 t.employee_id,
                 count(r.id) as number_reports,
                 CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
                 p.name as project_name
             FROM tasks t
                      LEFT JOIN users u ON u.id = t.employee_id
                      LEFT JOIN projects p ON p.id = t.project_id
                      LEFT JOIN reports r ON r.task_id = t.id
                      LEFT JOIN employees e ON e.id = t.employee_id
             WHERE e.id = #{employeeId} AND t.hidden = FALSE
             GROUP BY t.id) t
                left join tasks sub on sub.parent_id = t.id
        group by t.id
    </select>



    <select id="getTasksByManagerId" resultMap="taskDetailedInfo">
        select
            t.id,
            t.title,
            t.description,
            t.status,
            t.completion,
            t.start_date,
            t.end_date,
            t.employee_id,
            t.estimate_hours,
            t.parent_id,
            t.priority,
            t.project_id,
            number_reports,
            count(sub.id) as number_subtasks,
            employee_name,
            project_name
        from
            (SELECT
                 t.id,
                 t.title,
                 t.description,
                 t.status,
                 t.completion,
                 t.start_date,
                 t.end_date,
                 t.employee_id,
                 t.estimate_hours,
                 t.parent_id,
                 t.priority,
                 e.manager_id as manager_id,
                 t.project_id,
                 count(r.id) as number_reports,
                 CONCAT(u.first_name, ' ', u.last_name) AS employee_name,
                 p.name as project_name
             FROM tasks t
                      LEFT JOIN users u ON u.id = t.employee_id
                      LEFT JOIN projects p ON p.id = t.project_id
                      LEFT JOIN reports r ON r.task_id = t.id
                      LEFT JOIN employees e ON e.id = t.employee_id
             WHERE e.manager_id = #{managerId} AND t.parent_id IS NULL AND t.hidden = FALSE
             GROUP BY t.id) t
                left join tasks sub on sub.parent_id = t.id
        group by t.id
    </select>
    <resultMap id="user" type="com.example.Employee_Management_System.domain.User">
        <result property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="role" column="role"/>
        <result property="isLocked" column="is_locked" javaType="boolean"/>
    </resultMap>

    <select id="getManagerOfTask" resultMap="user">
        SELECT u.id         AS id,
               u.first_name AS first_name,
               u.last_name  AS last_name,
               u.email      AS email,
               u.avatar     AS avatar,
               u.password   AS password,
               u.role       AS role,
               u.is_locked  AS is_locked
        FROM users u
        WHERE u.id = (SELECT emp.manager_id
                      FROM employees emp
                      WHERE emp.id = (SELECT t.employee_id
                                      FROM tasks t
                                      WHERE t.id = #{id}))

    </select>

    <select id="getEmployeeOfTask" resultMap="user">
        SELECT u.id         AS id,
               u.first_name AS first_name,
               u.last_name  AS last_name,
               u.email      AS email,
               u.avatar     AS avatar,
               u.password   AS password,
               u.role       AS role,
               u.is_locked  AS is_locked
        FROM users u
        WHERE u.id = (SELECT t.employee_id
                      FROM tasks t
                      WHERE t.id = #{id})

    </select>

</mapper>
