<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.Employee_Management_System.domain.User" alias="User"/>
        <typeAlias type="com.example.Employee_Management_System.domain.Employee" alias="Employee"/>
        <typeAlias type="com.example.Employee_Management_System.domain.Report" alias="Report"/>
        <typeAlias type="com.example.Employee_Management_System.domain.Task" alias="Task"/>
        <typeAlias type="com.example.Employee_Management_System.domain.Manager" alias="Manager"/>
        <typeAlias type="com.example.Employee_Management_System.domain.Project" alias="Project"/>

    </typeAliases>
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/EmployeeMapper.xml"/>
        <mapper resource="mappers/ReportMapper.xml"/>
        <mapper resource="mappers/TaskMapper.xml"/>
        <mapper resource="mappers/ManagerMapper.xml"/>
        <mapper resource="mappers/ProjectMapper.xml"/>


    </mappers>
</configuration>